click>=8.0.1
cloup>=0.11.0
pathvalidate>=2.5.0,<4.0.0
pdfminer.six>=20211012
pluggy>=1.0.0,<=2.0.0
python-docx>=0.8.11,<2.0.0
rich>=11.0.0
tenacity>=8.0.1,<=10.0.0
textX>=2.3.0
tinytag>=1.8.0,<3.0.0
yaspin>=2.1.0,<4.0.0
osxmetadata>=1.3.4; sys_platform == 'darwin'
pyobjc-core>=7.3; sys_platform == 'darwin'
pyobjc-framework-Cocoa>=7.3; sys_platform == 'darwin'
pyobjc-framework-CoreServices>=7.3; sys_platform == 'darwin'
pyobjc-framework-FSEvents>=7.3; sys_platform == 'darwin'
